body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

h1{
  font-size: 28px;
  color: rgb(58, 58, 58);
  margin-left: 2%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-items: center;
}

.wrapper-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2% 0;
  background-color: rgb(84, 161, 175);
  color: rgb(2, 2, 1);
  font-size: 28px;
}

.wrapper__container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.wrapper__container-navbar {
  padding: 2% 0;
  background-color: rgb(184, 124, 198);
  color: rgb(12, 12, 12);
  font-size: 28px;
  padding-left: 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.wrapper__container__main {
  padding: 2% 0;
  background-color: rgb(224, 222, 162);
  height: 100vh;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.wrapper__container__main-text{
  font-size: 20px;
  padding-left: 2%;
}

.wrapper__container-relatedLinks {
  padding: 2% 0;
  background-color: rgb(124, 109, 178);
  color: rgb(2, 2, 1);
  min-width: 100%;
  font-size: 28px;
  padding-left: 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.wrapper-footer {
  padding: 2% 0;
  background-color: rgb(84, 175, 117);
  color: rgb(2, 2, 1);
  text-align: center;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

@media all and (min-width: 520px){
  .wrapper-header {
    font-size: 30px;
  }

  .wrapper__container-navbar {
    font-size: 30px;
  }

  .wrapper__container__main-text {
    font-size: 18px;
  }

  .wrapper__container-relatedLinks {
    font-size: 30px;
  }

  .wrapper-footer {
    font-size: 30px;
  }
}

@media all and (min-width: 834px) {
  h1{
    font-weight: 600;
    font-size: 26px;
    margin-top: 2px;
    margin-bottom: 1px;
  }

  .wrapper__container{
    flex-direction: row;
    justify-content: space-between;
  }

  .wrapper-header {
    font-size: 25px;
    padding: 1% 0;
  }

  .wrapper__container-navbar {
    font-size: 25px;
    min-width: 15%;
  }

  .wrapper__container__main {
    min-width: 60%;
  }

  .wrapper__container__main-text {
    font-size: 20px;
  }

  .wrapper__container-relatedLinks {
    font-size: 25px;
    min-width: 20%;
  }

  .wrapper-footer {
    font-size: 25px;
    padding: 1% 0;
  }
}
 
