h1{
  font-size: 28px;
  color: rgb(58, 58, 58);
  margin-left: 2%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container__header {
  padding: 2% 0;
  background-color: rgb(84, 161, 175);
  color: rgb(2, 2, 1);
  text-align: center;
  font-size: 28px;
}

.container__wrapper{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.container__wrapper-navigation {
  padding: 2% 0;
  background-color: rgb(184, 124, 198);
  color: rgb(12, 12, 12);
  font-size: 28px;
  padding-left: 2%;
}

.container__wrapper__main {
  padding: 2% 0;
  background-color: rgb(224, 222, 162);
  min-height: 600px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container__wrapper__main-text{
  font-size: 20px;
  padding-left: 2%;
}

.container__wrapper-relatedLinks {
  padding: 2% 0;
  background-color: rgb(124, 109, 178);
  color: rgb(2, 2, 1);
  min-width: 100%;
  font-size: 28px;
  padding-left: 2%;
}

.container__footer {
  padding: 2% 0;
  background-color: rgb(84, 175, 117);
  color: rgb(2, 2, 1);
  text-align: center;
  font-size: 28px;
}

@media all and (min-width: 520px){
  .container__header {
    font-size: 30px;
  }

  .container__wrapper-navigation {
    font-size: 30px;
  }

  .container__wrapper__main-text {
    font-size: 18px;
  }

  .container__wrapper-relatedLinks {
    font-size: 30px;
  }

  .container__footer {
    font-size: 30px;
  }
}

@media all and (min-width: 834px) {
  h1{
    font-weight: 600;
    font-size: 26px;
    margin-top: 2px;
    margin-bottom: 1px;
  }

  .container__wrapper{
    flex-direction: row;
    justify-content: space-between;
  }

  .container__header {
    font-size: 25px;
    padding: 1% 0;
  }

  .container__wrapper-navigation {
    font-size: 25px;
    min-width: 15%;
  }

  .container__wrapper__main {
    min-width: 60%;
    min-height: 700px;
  }

  .container__wrapper__main-text {
    font-size: 20px;
  }

  .container__wrapper-relatedLinks {
    font-size: 25px;
    min-width: 20%;
  }

  .container__footer {
    font-size: 25px;
    padding: 1% 0;
  }
}
 
